#files to ignore
.metadata/
*/.classpath
*/.project
*/.settings/
*.swp
*.mat
*.pyc
*.npy
**/DUMMY.*

# Mac artifacts
*__MACOSX*
*.DS_STORE
*.DS_Store
**/.fuse_hidden*

# TrueCrypt artifacts
*._*
node_modules/
